
  <form ng-submit="password === confirm_password && signup()">
  <div class="form-group" >
  <input  type="text" ng-model="uname" placeholder="username" required>
  <input  type="email" ng-model="email" placeholder="george@gmail.com" required>
  <input  type="text" ng-model="fname" placeholder="George" required>
  <input  type="text" ng-model="lname" placeholder="Burdell" required>
  <input  type="password" ng-model="password" placeholder="********" required>
  <input  type="password" ng-model="confirm_password" placeholder="********" required>
  <button action="submit">Sign Up</button>
  </div>
  </form>
